<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/chat-client.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id='chatbox'>

    </div>
    <div id='message-form'>
        <input type='text' id='chat-message'></input>
        <div class='btn' id='message-form-submit'>Send</div>
    </div>
  </body>

<script>
  var chatClient = new ChatClient();
  var messageTextBox = document.getElementById("chat-message");
  var submitButton = document.getElementById("message-form-submit");

  var submitCallback = function() {
    // When user clicks submit, post message to the server, clear text box
    var message = messageTextBox.value;
    chatClient.publish({message: message});
    messageTextBox.value = "";
  };

  messageTextBox.addEventListener('keydown', function(e) {
    console.log("abfeqibqb");
    if (e.key === 'Enter') {
      submitCallback();
    }
  });
  submitButton.addEventListener('click', submitCallback);

  chatClient.subscribe(function(data){
    // On new message, append the new message to the end of the chat list
    //
    console.log(data);
    console.log(data.message);
    var newMessageEl = document.createElement("div");
    newMessageEl.className = "chat-bubble";
    newMessageEl.innerHTML = `<b>IP ${data.ip}</b> <p>${data.message}</p>`;
    document.getElementById("chatbox").appendChild(newMessageEl);
  });

</script>

</html>
